<%- include('partials/header', { user: user, messages: messages }) %>

<h2>Facilities</h2>

<!-- Optional: Search/filter form -->

<div class="row">
  <% facilities.forEach(f => { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/images/<%= f.image %>" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%= f.name %></h5>
          <p class="card-text"><%= f.description %></p>
          <a href="/facilities/<%= f.facilities_id %>" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
